<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DirectToWatchSettingsReceiver"
            android:exported="true"
            android:permission="app.aapswear.g7watch.permission.CONFIGURE_G7">
            <intent-filter><action android:name="app.aapswear.APPLY_DIRECT_TO_WATCH_SETTINGS" /></intent-filter>
        </receiver>
        <service android:name=".DirectToWatchHeaderComplication" android:label="Direct to Watch · Glukose" android:icon="@drawable/ic_direct_to_watch_header" android:exported="true" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/></intent-filter>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE"/>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="com.google.android.wearable.complications.STATIC_PREVIEW_DATA" android:resource="@xml/complication_preview_direct_to_watch_header"/>
        </service>
        <service android:name=".DirectToWatchGraphComplication" android:label="Direct to Watch · Graph" android:icon="@drawable/ic_direct_to_watch_graph" android:exported="true" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/></intent-filter>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE"/>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="com.google.android.wearable.complications.STATIC_PREVIEW_DATA" android:resource="@xml/complication_preview_direct_to_watch_graph"/>
        </service>
        <service android:name=".DirectToWatchStatusComplication" android:label="Direct to Watch · Skala/Alter" android:icon="@drawable/ic_direct_to_watch_status" android:exported="true" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST"/></intent-filter>
            <meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT"/>
            <meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300"/>
            <meta-data android:name="com.google.android.wearable.complications.STATIC_PREVIEW_DATA" android:resource="@xml/complication_preview_direct_to_watch_status"/>
        </service>
        <receiver android:name=".DirectToWatchGraphScaleReceiver" android:exported="false" />
    </application>
</manifest>
